-i https://pypi.org/simple/
certifi==2019.6.16
colorama==0.4.1
frida-tools==5.1.0
frida==12.7.20
pipenv==2018.11.26
prompt-toolkit==2.0.10
pygments==2.7.4
six==1.13.0
virtualenv-clone==0.5.3
virtualenv==16.7.4
wcwidth==0.1.7
